.icon {
  font-size: 22px;
  padding: 10px 10px;
  border-radius: 16px;
  background: rgba(30,30,30,0);
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease;
  color: #fff;
}

.icon:hover {
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.18);
}

/*control dock content*/
@media (max-width: 430px) {
  .icon {
    font-size: 18px;
  }
}
@media (max-width: 378px) {
  .icon {
    font-size: 14px;
  }
}